.containerClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.newsItemClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.newsImageClass {
  width: 300px;
}

.keywordClass {
  color: blue;
  border-radius: 20px;
}

.contentClass {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
