body {
  margin: 0;
  padding: 0;
}

.night {
  color: white;
  background-color: black;
}

.day {
  color: black;
  background-color: white;
}

.search {
  padding: 10px;
  border: thin solid #555;
  border-radius: 20px;
  outline: none;
  cursor: text;
}

.search:focus {
  border-color: blue;
}

.btn {
  color: black;
  background-color: rgb(199, 199, 199);
  padding: 10px;
  border: thin solid #555;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: gray;
}

.containerClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;

  margin-bottom: 10px;
}

.newsItemClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.newsImageClass {
  width: 300px;
}

.activeKeywordClass {
  padding: 10px;
  color: red;
  border: thin solid red;
  border-radius: 20px;
  cursor: not-allowed;
}

.keywordClass {
  padding: 10px;
  color: blue;
  border: thin solid blue;
  border-radius: 20px;
  cursor: pointer;
}

.keywordClass:hover {
  color: white;
  background-color: blue;
  border-radius: 20px;
  cursor: pointer;
}

.contentClass {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  text-align: center;
}

.error {
  color: red;
}
